@charset "ISO-8859-1";

:root {
	--light: #EFF1ED;
	--dark: #2A2A2A;
	--dark-green: #373D20;
	--medium-green: #717744;
	--light-green: #BCBD8B;
	--brown: #766153;
	--light-brown: rgba(118, 97, 83, 0.5)
}

/*TEXT COLORS*/
.text-light {
	color: var(--light);
}


.text-dark {
	color: var(--dark);
}

.text-dark-green {
	color: var(--dark-green);
}

.text-dark-green:hover {
	color: var(--dark-green) !important;
}

.text-medium-green {
	color: var(--medium-green);
}

.text-light-green {
	color: var(--light-green);
}

.text-brown {
	color: var(--brown);
}

.text-light-green {
	color: var(--light-brown);
}

/*BG COLORS*/
.bg-light {
	background-color: var(--light);
}

.bg-light-brown {
	background-color: var(--light-brown);
}

/*HOVER*/
.hover-scale-1:hover {
	font-weight: bolder;
}

/*BORDERS*/
.border-light-green {
	border: 1px solid var(--medium-green);
}

.border-top-brown{
	border-top: 1px solid var(--brown);
}

.mt-4-0 {
	margin-top: 2.3rem !important;
}

#btn-account{
	width: 165px;
}